@keyframes rotate__360deg {
    from { transform: none; }
    to {transform: rotate(360deg);}
}

/*-----------------------------------------------*/
/*page*/

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*-----------------------------------------------*/
/*Global Mix*/

.link__animation {
    transition: opacity 0.3s linear;
}

.link__animation:hover {
    opacity: 0.3;
}

.section-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
}

.section-subtitle {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
}

/*-----------------------------------------------*/
/*header*/

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;

    display: flex;
    align-items: center;
    background-color: #F2F2F2;

    overflow: hidden;
}

.header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    margin-left: 64px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 3;
}

.logo__image_place_header {
    width: 183px;
    height: 32px;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    z-index: 3;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 765px;
    height: 608px;
    z-index: 2;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    z-index: 1;
    transform: rotate(-15deg);
    animation: rotate__360deg 20s infinite linear; 
}

/*-----------------------------------------------*/
/*description*/

.description {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.two-columns__brief {
    margin: 0;
    width: 175px;
    color: #2F80ED;
    line-height: 1.2;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.two-columns__main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

/*-----------------------------------------------*/
/*technics*/

.cards {
    width: 80%;
    min-width: 920px;
    margin: 0 auto;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-column-gap: 100px;
    grid-row-gap: 60px;
    justify-content: center;
}

.cards__image {
    margin: 0 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.cards__title {
    margin-top: 43px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cards__description {
    margin: 16px 0 0 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.cards__description {
    text-align: center;
}

/*-----------------------------------------------*/
/*video*/

.video {
    padding-top: 100px;
    text-align: center;
}

.video__iframes {
    display: inline-block;
    margin-top: 50px;
}

.video__iframe {
    border: none;
    width: 515px;
    height: 316px;
}

.video__iframe:first-child {
    margin-right: 20px;
}

/*-----------------------------------------------*/
/*oakley*/

.oakley {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 80px;
    margin-top: -50px;
    background-color: #F2F2F2;
}

/*-----------------------------------------------*/
/*feinman*/

.feinman {
    text-align: center;
    height: 790px;
    position: relative;
    background-color: #F2F2F2;
    background-image: url(../images/feinman.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}

.feinman__title {
    margin: 0 auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
}

.feinman__subtitle {
    display: inline-block;
    margin: 0;
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    text-decoration: none;
    color: black;
}

/*-----------------------------------------------*/
/*digits*/

.digits_theme_light {
    padding-top: 100px;
    padding-bottom: 100px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.table__cell_theme_light {
    margin-top: 60px;
    width: 250px;
}

.table__heading {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
}

.table__quote {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 18px;
}

.table__cite {
    line-height: 1.2;
    font-size: 18px;
    font-style: normal;
    display: block;
}

/*-----------------------------------------------*/
/*khan*/

.khan {
    background-color: #F2F2F2;
}

.khan__container {
    width: 80%;
    margin: 0 auto;
    padding-top: 105px;
}

.khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
}

.khan__title {
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
}

.khan__quote {
    margin: 0;
    margin-top: 50px;
    line-height: 34px;
    font-size: 24px;
}

.khan__quote-author {
    display: block;
    margin-top: 36px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.khan__quote-author-subline {
    margin: 0;
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
}

.khan__book-container {
    margin-top: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 608px;
}

.khan__book-pic {
    width: 620px;
}

.khan__buy-link {
    display: block;
    line-height: 42px;
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    color: #2F80ED;
}

/*-----------------------------------------------*/
/*kaufman*/

.kaufman_theme_dark {
    background-color: #1F1F1F;
    position: relative;
    padding: 90px 0;
    overflow: hidden;
}

.section-title_theme_dark {
    color: white;
}

.section-subtitle_theme_dark {
    color: white;
}

.table_theme_dark {
    color: white;
}

.table__cell_theme_dark {
    margin-top: 80px;
    width: 200px;
    z-index: 1;
}

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -210px;
    width: 877px;
    height: 877px;
    background-image: url(../images/triangle.svg);
    background-size: contain;
    transform-origin: 506px 376px;
    animation: rotate__360deg 20s infinite linear;
}

/*-----------------------------------------------*/
/*footer*/

.resources {
    padding-top: 100px;
    padding-bottom: 217px;
}

.resources__logo-zone {
    width: 1100px;
    margin: 80px auto 0 auto;
}

.resources__logo {
    width: 270px;
    height: 38px;
}


/*-----------------------------------------------*/
/*footer*/

.footer {
    display: flex;
    justify-content: center;
    min-height: 350px;
    background-color: #1F1F1F;
    color: white;
    padding: 60px 0 40px 0;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.logo__image_place_footer {
    width: 183px;
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;

}

.footer__column-heading {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-links {
    list-style-type: none;
    margin: 20px 0 16px 0;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.footer__social-icons {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}